<div class="card ">
  <img
    class="card-img-top"
    src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
    alt="Card image cap"
  />
  <div *ngIf="!hide" class="card-body">
      <h1>Registration Form</h1>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="row">
        <div class="col">
          <i class="fa fa-user"></i>&nbsp;<label>First Name:</label>
          <input
            type="name"
            class="form-control"
            name="fname"
            [(ngModel)]="tempfname"
            required
            minlength="4"
            #fname="ngModel"
          />
          <div
            *ngIf="fname.invalid && (fname.dirty || fname.touched)"
            class="alert"
          >
            <div class="error">
              <p *ngIf="fname.errors.required">First Name is Required</p>
              <p *ngIf="fname.errors.minlength">
                This field must be at least 4 characters
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <i class="fa fa-user"></i>&nbsp;<label>Last Name:</label>
          <input
            type="name"
            class="form-control"
            name="lname"
            [(ngModel)]="templname"
            required
            minlength="4"
            #lname="ngModel"
          />
          <div
            *ngIf="lname.invalid && (lname.dirty || lname.touched)"
            class="alert "
          >
            <div class="error">
              <p *ngIf="lname.errors.required">Last Name is Required</p>
              <p *ngIf="lname.errors.minlength">
                This field must be at least 4 characters
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 2nd row gender & Age -->
      <div class="row">
        <div class="col">
          <i class="fa fa-venus-double"></i>&nbsp;<label>Gender:</label>
          <select
            class="custom-select"
            id="tempgender"
            name="select"
            [(ngModel)]="tempgender"
            required
          >
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="col">
          <i class="fa fa-calendar"></i>&nbsp;<label>Age:</label>
          <input
            type="number"
            class="form-control"
            name="age"
            [(ngModel)]="tempage"
            required
            #age="ngModel"
          />
          <div
            *ngIf="age.invalid && (age.dirty || age.touched)"
            class="alert "
          >
            <div class="error">
              <p *ngIf="age.errors.required">Age is Required</p>
            </div>
          </div>
        </div>
      </div>
     
      <!-- 3rd row email & Department  -->
      <div class="row">
        <div class="col">
          <i class="fa fa-envelope-o"></i>&nbsp;<label>E-mail:</label>
          <input
            type="email"
            class="form-control"
            name="mail"
            [(ngModel)]="tempemail"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            #mail="ngModel"
          />
          <div
            *ngIf="mail.invalid && (mail.dirty || mail.touched)"
            class="alert"
          >
            <div class="error">
              <p *ngIf="mail.errors.required">Email is Required</p>
              <p *ngIf="mail.errors.pattern">Email is Invalid</p>
            </div>
          </div>
        </div>
        <div class="col">
          <i class="fa fa-address-book-o"></i>&nbsp;<label>Department:</label>
          <input
            type="name"
            class="form-control"
            name="department"
            [(ngModel)]="tempdepartment"
            required
            #department="ngModel"
          />
          <div
            *ngIf="department.invalid && (department.dirty || department.touched)"
            class="alert "
          >
            <div class="error">
              <p *ngIf="department.errors.required">Department is Required</p>
            </div>
          </div>
        </div>
      </div>
   
      
     
      <!-- Last row Addres -->
      <i class="fa fa-address-card-o"></i>&nbsp;<label>Address:</label>
      <input
        type="address"
        class="form-control"
        name="address"
        [(ngModel)]="tempaddress"
        required
        #name="ngModel"
      />

      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert ">
        <div class="error">
          <p *ngIf="name.errors.required">Address is Required</p>
        </div>
      </div>
      <br />
      <button *ngIf="!editing" [disabled]="form.invalid" class="btn btn-outline-info">Submit</button>
      <button *ngIf="editing" class="btn btn-outline-info" (click)="handleSaveRemove()">Save</button>

      <br /><br />
      
    </form>
  </div>
  <div>
    <div *ngIf="hide" class="card">
      <div class="card-body">
        <div class="grid-container">
          <h1 class="titletbl">List Of Student</h1>
          <button class="btn btn-outline-primary" (click)="handleAdd()">Back to Registration Form</button>
        </div>
        <p class="numOfStdnt">{{formdata.id}} Registered Student</p>
          <app-child (editEmit)="editParent($event)" [passData]="dataArray" ></app-child>
      </div>
    </div>
  </div>
</div>
